body {
  font-family: Arial;
  padding: 20px;
}

textarea {
  width: 400px;
  height: 100px;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 10px;
}

li {
  margin: 5px 0;
}

#status {
  font-weight: bold;
  margin: 10px 0;
}